<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="0; url={{page.metarefresh}}">
        <link rel="canonical" href="{{page.metarefresh}}" />
    </head>
    <body>
        <p>
            If you're not redirected within 10 seconds, follow this link:
            <a href="{{page.metarefresh}}">{{page.metarefresh}}</a>
        </p>
    </body>
</html>
