---
---
//Above lines should trigger jeckyl build.
%dummy {
    //This block is required to get SCSS-lint to pick up correct syntax after YAML header
    content: "satisfying scss-lint";
}

@import "sasstricks/utils";

@import "syntax/general";
@import "syntax/css";
@import "syntax/javascript";

%lobotomized-owl {
    * + & {
        margin-top: 1rem;
    }
}

html, body, h1, h2, h3, h4, a {
    @extend %reset;
}

p {
    @extend %reset;
    @extend %lobotomized-owl;
}

a {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

* {
    @extend %lobotomized-owl;
}
