---
---
%dummy {
    //This block is required to get SCSS-lint to pick up correct syntax after YAML header
    content: "satisfying scss-lint";
}
//Above lines should trigger jeckyl build.
@import url(http://fonts.googleapis.com/css?family=Quattrocento);

@import "sasstricks/utils";

@import "syntax/general";
@import "syntax/css";
@import "syntax/javascript";

html, body, h1, h2, h3, h4, a {
    @extend %reset;
}

h1, h2, h3, h4 {
    font-family: "Quattrocento";
}

h2 {
    font-size: 1.2em;
}

body {
    margin-left: 1.5rem;
}

a {
    article &::after {
        content: " (" attr(href) ")";
        font-size: 0.9em;
        opacity: 0.6;
    }
}

header {
    margin-bottom: 2em;
}

#page > aside,
body > .pinned {
    display: none;
}

footer {
    text-align: right;
    margin-top: 2em;
    font-size: 0.9em;
}
