<head>
    <!-- On thin ice, template created by Martin 'Windgazer' Reurings -->
    <!-- To modify it is recommended to fork on git, SASS is used for the CSS generation. -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <title>{%if pageTitleOverride%}{{pageTitleOverride}}{%else%}{{page.title}}{%endif%} — {{site.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{site.tagline}} | {{site.title}}">
    <meta property="og:url" content="{{page.url}}">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:title" content="{{page.title}} — {{site.title}}" />
    <meta property="og:description" content="{{site.author}} | {{site.title}}" />
    <meta property="og:type" content="article" />
    <link rel="canonical" href="{{site.url}}{{page.url}}" />
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/base.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
    {%if site.googleid%}{% include ga.html id="site.googleid" %}{%endif%}
</head>
