<!DOCTYPE html>
<html>
    {% include head.html %}
<body class="{{ include.id }}{% for tag in page.tags %} tag_{{tag}}{% endfor %}{% for cat in page.categories %} cat_{{cat}}{% endfor %}">
    <section id="page">
        <header>
            <h1><a href="{{site.url}}/#home">{{site.title}}</a></h1>
        </header>
        <main>
            <article id="{{ include.id }}">

                {{ include.content }}

            </article>
        </main>
        <aside id="mainNav">
            <nav>
                {% for page in site.data.navigation %}<li><a href="{{site.url}}{{page.url}}">{{page.title}}</a></li>
                {% endfor %}
            </nav>
            {% include social.html %}
        </aside>
        <footer>
            <p>By <span>©{{site.author}}</span></p>
        </footer>
    </section>
</body>
</html>
